[submodule "ds_web/cljs"]
	path = new/apps/ds_web/cljs
	url = https://github.com/clojure/clojurescript.git
[submodule "ds_web/cljs-watch"]
	path = new/apps/ds_web/cljs-watch
	url = https://github.com/ibdknox/cljs-watch
