[
 {ds_web, [
           {acceptors, 2},
           {port, 8080},
           {static_dir, [<<"htdocs">>]},
           {session_name, <<"dividedspace">>},
           {session_key, <<"0123456789ABCDEF">>},
           {db, "dividedspace"},
           {dbHost, "localhost"},
           {dbUser, "ds"},
           {dbPass, "ds"}
          ]},
 {center, [
	   {data_dir, [<<"/">>, <<"Users">>, <<"licenser">>, <<"Projects">>, <<"dividedspace">>, <<"data">>]}
          ]},
 {alog, [
	 {enabled_loggers, [alog_tty]},
	 {flows, [
		  {{mod,['_']}, {'=<', warning}, [alog_tty]},
		  {{tag,[script]}, {'=<', notice}, [alog_tty]}
		 ]}
	]}
].
