{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
 [
  {luerl, ".*", {git, "https://github.com/rvirding/luerl.git", {tag, "v0.3"}}},
  pgapp,
  cowboy,
  uuid_erl,
  erlydtl2,
  lager
 ]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/project-fifo/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{profiles,
 [{lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.6"}}}]}]},
  {shell, [{deps, [sync]}]}]}.
