{sys, [
       {lib_dirs, ["../../"]},
       {rel, "epic", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
	 tv,
	 debugger,
	 appmon,
         pman,
	 toolbar,
         epic
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "epic"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, epic, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "epic"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/epic", "bin/epic"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
