{lib_dirs, []}.
{erl_opts, [{i, ".."}, {i,"deps"}, {i, "deps/alog/include"}, {i,"deps/erlv8/include"}, debug_info]}.
{sub_dirs, ["rel"]}.
{deps,
 [
  {erlv8, ".*", {git, "https://github.com/Licenser/erlv8.git", {branch, "master"}}},
  {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger.git", {branch, "master"}}}
 ]}.
