{sys, [
       {lib_dirs, ["../..", ".."]},
       {rel, "dividedspace", "1",
        [
         kernel,
         stdlib,
	 epic,
	 ds_store,
	 tv,
	 debugger,
	 appmon,
         pman,
	 toolbar,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dividedspace"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, ds_store, [{incl_cond, include}]},
       {app, epic, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "dividedspace"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/dividedspace", "bin/dividedspace"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
