{lib_dirs, []}.
{erl_opts, [{i, ".."},{i,"deps"}, debug_info]}.
{sub_dirs, ["rel"]}.
{deps, 
 [
  {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {cowboy_static, ".*", {git, "https://github.com/klaar/cowboy_static.git", {branch, "master"}}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
]}.
